
@{
    ViewBag.Title = "PILIH PRODUCT";
    Layout = "~/Views/Shared/_LayoutLOV.cshtml";
}


@using (Html.BeginForm("Index", "Product", FormMethod.Post, new { id = "frm" }))
{
    @Html.AntiForgeryToken()
}

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover table-striped" id="myTable">
                <thead>
                    <tr>
                        <th class="text-center">Action</th>
                        <th class="text-center">ID Product</th>
                        <th class="text-center">PRODUCT CODE</th>
                        <th class="text-center">DESCRIPTION</th>

                    </tr>
                </thead>
                <tbody id="tbodyLOV">
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- /.row -->
@section scripts{
    <script src="~/Assets/js/customs/systems/LOV/module.LOV.js?rand=@clsMMainCustomBL.generateParameter()"></script>
}