@using KN2021_E_RPS.Common
@using KN2021_E_RPS.Common.Entity
@using KN2021_E_RPS.MVC


@{
    ViewBag.Title = "Master User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-outline card-red">
                <h3 class="card-title">
                    <i class="fa fa-stream"></i> @ViewBag.Title
                </h3>
                <div class="card-tools">
                    <button id="btnAddUser" class="btn btn-success">
                        <i class="fas fa-plus-square"></i> Add
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover table-striped" id="tableUser">
                    <thead>
                        <tr>
                            <th class="text-center">Kode</th>
                            <th class="text-center">Nama</th>
                            <th class="text-center">Jenis</th>
                            <th class="text-center">Qty</th>
                            <th class="text-center">Harga Beli</th>
                            <th class="text-center">Satuan</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                    <li class="page-item"><a class="page-link" id="btnPrev">«</a></li>
                    <li class="page-item"><a class="page-link" id="btnNext">»</a></li>
                </ul>
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>
<!-- /.row -->
